.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card:hover{
transform: scale(1.1);
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.carousel-item{
  height: 400px;
} 
.carousel-item img{
  height: 400px;
  opacity: 0.7;
}
.footer
{
  background:#282c34;
  color:cyan;
  text-align: center;
  padding:10px;
  justify-content: center;
}

.carousel-caption
{
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
}
.head{
  font-weight: bolder;
  color: rgb(255, 255, 255);
  font-size: 50px;
}
.navbar-brand{
  font-weight: bold;
font-style: oblique;
  color: cyan;
  font-size: 40px;
}

.form {
  /* max-width: 1000px; */ 
  margin-top: -13px;
  margin-left: 100px;
    padding: 30px;
    padding-top: 100px;
    /* background-color: #f7f7f7; */
    /* box-shadow: 0 0 10px rgb(0 0 0 / 10%); */
}



label {
  font-size: 16px;
  margin-bottom: 5px;
}

.inputfor {
  font-size: 16px;
  padding: 10px;
  border: 2px solid cyan;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 400px;
  color: cyan;
}

.formbut {
  font-size: 20px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(96, 255, 255);
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid cyan;
  margin-left: 105px;
  font-weight: bold;
  width: 200px;
}

.formbut:hover {
  background-color: cyan;
  color: white;
}

.formbut:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.social-container {
  background: rgb(0, 0, 0);
  padding: 25px 50px;
  justify-content: center;
  display:flex;
}
a.social {
  margin: 50px;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(251, 255, 0);
}

a.linkedin {
  color: rgb(0, 60, 255);
}
.socialfoll{
  margin: 20px 510px;
}
.about{
margin: 10px;
background-color:rgb(30,30,30);
border: 2px solid cyan;
display: flex;
flex-direction: column;
justify-content: center;
text-align:center;
padding:10px;
border-radius: 10px;
color:cyan;
}
.services{
margin: 10px;
background-color:rgb(30,30,30);
border: 2px solid yellow;
display: flex;
flex-direction: column;
justify-content: center;
text-align:center;
padding:10px;
border-radius: 10px;
color:yellow;
}
.vision{
margin: 10px;
background-color:rgb(30,30,30);
border: 2px solid greenyellow;
display: flex;
flex-direction: column;
justify-content: center;
text-align:center;
padding:10px;
border-radius: 10px;
color:greenyellow;
}
.mission{
margin: 10px;
background-color:rgb(30,30,30);
border: 2px solid orange;
display: flex;
flex-direction: column;
justify-content: center;
text-align:center;
padding:10px;
border-radius: 10px;
color:orange;
}
.team{
  margin: 10px;
  background-color:rgb(30,30,30);
  border: 2px solid pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  padding:10px;
  border-radius: 10px;
  color:pink;
}
.card1{
margin: 10px;
}

.card1-img-top{
  /* opacity: 0.9; */
  height: 500px;
  width:100%;
}
.card1-title{
  text-align: center;
  justify-content: center;
  padding-top: 41px;
}
.ddn{
  font-size: 16px;
    padding: 10px;
    border: 2px solid cyan;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 398px;
}
.google
{
  text-align: center;
  justify-content: center;
}
.googlebtn{
  color:cyan;
  background-color: white;
  height: 60px;
  width:400px;
  margin: 20px;
  border-radius: 40px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid cyan;
}
.googlebtn:hover{
  color: white;
  background-color: cyan;
}
.home{
  background-color: rgb(0, 0, 0);
}
.card{
  border: 2px solid cyan;
  background-color: rgb(30, 30, 30);
  color: cyan;
}
.nav-item{
  color:cyan;
}
.about1{
  background-color: #000000;
}
.outbox{
  display: flex;
  background-color: #000000;
  flex-direction: row;
  align-items: center;
  margin-top: -9px;
}
.formimg{
  width:500px;
  height:350px;
  margin-left: 100px;
}
.contacthead{
display: flex;
padding-top: 25px;
justify-content: center;
color: cyan;
background-color: #000000;
}
.social{
  background-color: #000000;
  color: cyan;
  margin-top: -21px;
}
.soutbox{
  background-color: black;
  display: flex;
  flex-direction: row;
  margin-top: -8px; ;
}
.sformimg{
  height: 371px;
    width: 609px;
    margin-top: 205px;
}
.form-items1{
  display: flex;
  flex-direction:column;
  color:cyan;
}
.tfoutbox{
  background-color: black;
  display: flex;
  flex-direction: row;
}
.tcard{
  background-color: black;
  color: cyan;
}
.tformimg{
  height:800px;
  width:700px;
  padding-top: 300px;
}
